.header {
    background-color: var(--color_blue);
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    width: 100%;
    height: 180px;
}

.headermain {
    width: 400px;
    margin: auto;
    margin-top: 32px;
}

.profilepic {
    border-radius: 50%;
    border: 3px solid #fff;
    margin-left: -32px;
}

.name {
    font-size: 28px;
    font-weight: 400;
    margin-top: 4px;
}

.affiliation {
    font-size: 14px;
    font-weight: 400;
}

.contact {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 12px;
}

.pages {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.menuentry {
    font-weight: 400;
}
