.timeline * {
    box-sizing: border-box;
}

.timeline {
  width: 100%;
  padding: 50px 50px;
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(40% + 8px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 40%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid var(--color_blue);
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
}

.entry .title * {
  margin: 0;
}

.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 60%;
  padding-left: 30px;
}

.entry .body * {
  margin-top: 0;
}
